.Field {
  display: grid;
  width: 100%;
  gap: 0.5rem;
}

.requiredMarker {
  color: var(--color-text-danger);
}

.hint {
  color: var(--color-text-secondary-muted);
  font-size: var(--font-size-body-xs);
  line-height: var(--line-height-form);
}

.errorMessage {
  color: var(--color-text-danger);
  font-size: var(--font-size-body-xs);
  font-weight: 500;
  line-height: var(--line-height-form);
}
